/************************
********* Colors ********
************************/
/*
White: #ffffff (255, 255, 255)
Light gray: #dddddd
Dark gray: #333333
Blue: #03a9f4 (3, 169, 244)
*/

/************************
******** General ********
************************/
html, body {
	width: 100vw;
	height: 100vh !important;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Rubik', sans-serif;
}

.full-height {
	height: 100%;
}

/************************
****** Font Styles ******
************************/
.white-xl {
	font-size: 5em;
	color: #ffffff;
}

.gray-xl {
	font-size: 5em;
	color: #333333;
}

.gray-lg {
	font-size: 4em;
	color: #333333;
}

.gray-md {
	font-size: 2em;
	color: #dddddd;
}

/************************
****** Backgrounds ******
************************/
.bg-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;
}

.bg-header-cover {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.bg-header-last {
	height: 90%;
}

/************************
********* Header ********
************************/
.content-header {
	margin-top: 20vh;
	color: #ffffff;
}

.header-margin {
	margin-top: 10vh;
}

.align-header {
	text-align: center;
}

.text-center {
	text-align: center;
}

/************************
********* Footer ********
************************/
.footer {
	height: 10%;
	background: rgba(50, 50, 50, 0.9);
	bottom: 0px;
	margin: 0px;
}

.text-footer {
	margin: 0px 0px 0px 5vw;
	line-height: 10vh;
	color: #dddddd;
	font-size: 14px;
}

/************************
********* Links *********
************************/
.links {
	height: 15vh;
	list-style-type: none;
	display: table;
	margin: auto;
	padding: 0px;
}

.links a {
	box-shadow: none !important;
}

.links li {
	display: table-cell;
	vertical-align: middle;
}

.links span {
	width: 7vh;
  height: 7vh;
  line-height: 7vh;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  margin: auto;
  font-size: 4vh;
}

.links .resume {
	width: 20vh;
	height: 7vh;
	border-radius: 25px;
	font-size: 2.5vh;
}

/************************
***** Mobile devices ****
************************/
@media (min-width: 768px) {
  .align-header {
    text-align: left;
  }
}