/*
[Colors]
White: #ffffff (255, 255, 255)
Grey: #cccccc
Blue: (50, 150, 255)
*/

/* General */
*,:before,:after {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-backface-visibility:hidden;
}

html, body, section, .jumbotron {
	width: 100vw;
	height: 100vh !important;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
}

/* Font Styles */
h1 {
	color: #ffffff;
}

h2 {
	color: #cccccc;
}

/* Backgrounds */
.bg-header {
	background-size: 100vmax 100vmax;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/la.jpeg");
}

.bg-header-cover {
	width: 100vw;
	height: 100vh;
	background: rgba(50, 150, 255, 0.8);
}

.bg-fixed {
	background-attachment: fixed;
}

/* Sidebar */
#sidebar {
	position: fixed;
	top: 25vh;
	right: 5vw;
}

.sidebar-icon {
	margin-top: 10vh;
	margin-bottom: 10vh;
	border-radius: 50%;
	outline: none !important;
}

/* Content */
.full-height {
	height: 100%;
}

.circle {
	width: 110px;
	height: auto;
	margin: auto;
	border-radius: 50%;
	vertical-align: center;
	background: rgba(255, 255, 255, 1);
}

#img-profile {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.content-header {
	margin-top: 20vh;
	color: #ffffff;
}

.links {
	height: 15vh;
	list-style-type: none;
	display: table;
	margin: auto;
	padding: 0px;
}

.links li {
	display: table-cell;
	vertical-align: middle;
}

.links span {
	width: 7vh;
    height: 7vh;
    line-height: 7vh;
    border-radius: 50%;
    background: #ffffff;
    margin: auto;
    font-size: 4vh;
}

.links .resume {
	width: 20vh;
	height: 7vh;
	border-radius: 25px;
	font-size: 2.5vh;
}

.down-arrow {
	background: rgba(255, 255, 255, 0) !important;
	color: #ffffff !important;
	border: none !important;
	font-size: 200%;
	margin: 0vh;
}

.content-footer {
	height: 90%;
	margin: 0px;
}

.footer {
	height: 10%;
	background: rgba(50, 50, 50, 0.9);
	bottom: 0px;
	margin: 0px;
}

.footer-list {
	height: 100%;
	margin: 0px 5vw 0px 0px;
	list-style-type: none;
	display: table;
	float: right;
	padding: 0px;
}

.footer-list li {
	display: table-cell;
	vertical-align: middle;
}

.footer-list a {
	padding: 0px 1vw 0px 0px;
}

.footer-list span {
	width: 6vh;
    height: 6vh;
    line-height: 6vh;
    border-radius: 50%;
    background: #ffffff;
    margin: auto;
    font-size: 4vh;
}

.text-footer {
	margin: 0px 0px 0px 5vw;
	line-height: 10vh;
	color: #dddddd;
	font-size: 2.5vh;
}

.align-header {
	text-align: center;
}

@media (min-width: 768px) {
    .align-header {
        text-align: left;
    }
}