/*
[Colors]
White: #ffffff (255, 255, 255)
Grey: #cccccc
Blue: (50, 150, 255)
*/

/* General */
*,:before,:after {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-backface-visibility:hidden;
}

html, body, section, .jumbotron {
	width: 100vw;
	height: 100vh !important;
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Lato', sans-serif;
}

/* Font Styles */
h1 {
	color: #ffffff;
}

h2 {
	color: #cccccc;
}

/* Backgrounds */
.bg-header {
	background-size: 100vmax 100vmax;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/la.jpeg");
}

.bg-header-cover {
	width: 100vw;
	height: 100vh;
	background: rgba(50, 150, 255, 0.8);
}

.bg-fixed {
	background-attachment: fixed;
}

/* Sidebar */
#sidebar {
	position: fixed;
	top: 25vh;
	right: 5vw;
}

.sidebar-icon {
	margin-top: 10vh;
	margin-bottom: 10vh;
	border-radius: 50%;
	outline: none !important;
}

/* Content */
.circle {
	width: 80%;
	height: auto;
	margin: 10%;
	border-radius: 50%;
	vertical-align: center;
	background: rgba(255, 255, 255, 1);
}

#img-profile {
	width: 100%;
	height: auto;
	border-radius: 50%;
}

.content-header {
	margin-top: 15vh;
	color: #ffffff;
}

.down-arrow {
	background: rgba(255, 255, 255, 0) !important;
	color: #ffffff !important;
	border: none !important;
	font-size: 200%;
}